@font-face {
    font-family: Neue Haas Grotesk Display Pro;
    src: url(./assets/NeueHaasDisplayMediu.ttf)
}

@font-face {
    font-family: newlight;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: newthin;
    font-weight: 100;
    src: url(./assets/NeueHaasDisplayThin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Neue Haas Grotesk Display Pro';
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 234, 227);
    position: relative;
    padding: 0 2vw;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.nav-container li {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid rgba(85, 85, 85, 0.205);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}

.nav-container li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.nav-container li:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-container li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 9;
    font-family: newlight;
}

.nav-container li:hover a {
    color: white;
}

/* Hero-Container */
#hero-container {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

.left-hero {
    width: 30vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.right-hero h1 {
    text-align: right;
    font-size: 10vw;
    line-height: 8vw;
}

.shape-container {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

.shape-1 {
    background-color: #FE330A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
    /* transform: translate(20%); */
}

.shape-2 {
    background: linear-gradient(#FE330A, #FF5D1C);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: animation-1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.shape-3 {
    background: linear-gradient(#FE330A, #FF5D1C);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    animation-name: animation-2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

@keyframes animation-1 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

@keyframes animation-2 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

.main-video {
    width: 100%;
    border-radius: 25px;
    margin-top: 4vw;
    position: relative;
}


/* PAGE 2 */
#page2 {
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    position: relative;
    background-color:rgb(239, 234, 227);
}

.round-shape {
    height: 70px;
    width: 70px;
    display: inline-block;
    background-color: #FE330A;
    border-radius: 50%;
    margin: 1vw 2vw;
}

.text-container {
    white-space: nowrap;
    display: inline-block;
    animation-name: moving-text-animation;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

@keyframes moving-text-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* PAGE 2 BOTTOM */
.page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.page2-bottom-left {
    width: 60%;
}

.page2-bottom-left h1 {
    font-size: 4vw;
    line-height: 4vw;
}

.page2-bottom-right {
    width: 20%;
}

.page2-bottom-right img {
    width: 100%;
    border-radius: 10px;
}

.page2-bottom-right p {
    font-family: newlight;
    margin-top: 3vw;
    font-size: 1vw;
} 

/* page 2 bottom animation */
#page2 .bottom-round {
    height: 32vw;
    width: 32vw;
    background: linear-gradient(to top right,#FE330A, #ff8d30);
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 25%;
    filter: blur(20px);
    animation-name: round-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes round-animation {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 234, 227);
    padding: 4vw 0;
}

.project-bar-heading{
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    position: relative;
    padding: 0 2vw;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: #FE330A;
    border-radius: 50%;
}

.project-bar-heading h4 {
    margin: 0 10px;
    text-transform: uppercase;
    color: #000000bd;
    font-family: newthin;
}

.project-bar {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    padding: 0 2vw;
    overflow: hidden;
}

.project-bar h2 {
    font-size: 3vw;
    z-index: inherit;
    z-index: 9;
}

.project-bar .right-bar-info{
    text-align: right;
    text-transform: uppercase;
    /* font-size: 1vw; */
    color: #00000085;
    line-height: 1vw;
    z-index: inherit;
    z-index: 9;
}

.right-bar-info .subtext {
    font-family: newthin;
    font-weight: 100;
    text-transform: capitalize;
}

.project-bar .overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9832;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.project-bar:hover .overlay {
    top: 0;
}

#bottom-img {
    height: 30vw;
    width: 24vw;
    /* background-color: yellow; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}